html{
    background-color: #1d1f20 !important;
}
.normal
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
}
.reset
{
    float:left;
}
.name
{
    display:inline-block;
    margin: 10px 1325px 10px 10px;

}
.user
{
    float:right
}


